<h1 *ngIf="pagina == 'buscador'">Buscando <small>{{termino}}</small></h1>
<h1 *ngIf="pagina == 'heroes'">Héroes <small>Marvel y DC</small></h1>
<hr>

<div class="row animated fadeIn fast" *ngIf="heroes.length == 0">
  <div class="col-md-12">
    <div class="alert alert-info">
      No existen resultados con el término: {{termino}}
    </div>
  </div>

</div>

<div class="card-columns">

  <div class="card animated fadeIn fast" *ngFor="let heroe of heroes; let i = index">
    <!-- <img class="card-img-top img-fluid" src="{{heroe.img}}" alt="Card image cap"> -->
    <img class="card-img-top img-fluid" [src]="heroe.img" [alt]="heroe.nombre">
    <div class="card-block">
      <h4 class="card-title">{{heroe.nombre}}</h4>
      <p class="card-text">{{heroe.bio}}</p>
      <p class="card-text"><small class="text-muted">{{heroe.aparicion}}</small></p>

      <button (click)="verHeroe(heroe.id)"
        type="button" class="btn btn-outline-primary btn-block">
        Ver más...
      </button>

      <!-- Enlace /router/{id} de otra manera -->
      <!-- <a [routerLink]="['/heroe',i]" class="btn btn-outline-primary">Ver más link...</a> -->

      <!-- Enlace para que sea de la forma /heroes/heroe/{id}  -->
      <!-- <a [routerLink]="['heroe',i]" class="btn btn-outline-primary">Ver más link...</a> -->

    </div>
  </div>

</div>
