<div [ngClass]="'alert-success'" class="alert" role="alert">
  <strong>Well done!</strong> You successfully read this important alert message.
</div>
<div [ngClass]="alerta" class="alert" role="alert">
  <strong>Well done!</strong> You successfully read this important alert message.
</div>

<button type="button" class="btn btn-info" (click)="alerta = 'alert-info'"> Info</button>
<button type="button" class="btn btn-success" (click)="alerta = 'alert-success'"> Success</button>
<button type="button" class="btn btn-danger" (click)="alerta = 'alert-danger'"> Danger</button>

<br><br>

<h3 [ngClass]=" {'text-danger': propiedades.danger, 'text-info': !propiedades.danger }">
  Hola mundo
</h3>
<button type="button" [ngClass]=" {'btn-danger': propiedades.danger, 'btn-info': !propiedades.danger }" class="btn" (click)="propiedades.danger = !propiedades.danger"> Cambiar danger/info</button>

<br><br>

<h3>Proceso asíncrono</h3>

<button (click)="ejecutar()"
  type="button" class="btn btn-primary" [disabled]="loading">
  <!-- Mientras loading (es una variable que se pone a true en un timeoout y el resto del tiempo está a false) sea true, este botón aparecerá disabled -->
  <i [ngClass]=" { 'fa-save': !loading, 'fa-refresh fa-spin': loading } "
  class="fa fa-refresh fa-spin"></i>
  <!-- Este icono tendrá la clase fa-save mientras loading sea false; mientras sea true (esté cargando) aparecerá el icono de refresh en movimiento (fa-spin) -->
  <span *ngIf="!loading">Guardar cambios</span>
  <span *ngIf="loading">Espere por favor</span>
  <!-- Mientras esté cargando indica "espere" -->
</button>
